
<div class="container">
  <div class="postarea cf">
    <div class="postarea-text">
      <textarea name="" id="content" cols="30" rows="10" placeholder="Enterで投稿"></textarea>
      <button id="post" class="postarea-button"><i class="fa fa-hand-o-down" aria-hidden="true"></i> 投稿</buttons>
    </div>
  </div>
</div>

<!-- JavaScriptでFirebase上のデータベースから動的に取得 -->
<div id="messages" class="content">
  <div id="dummy"></div>
</div>

