.header {
    background-color: #d23121;
    width: 100%;
    padding: 0.75em 0;
    overflow: hidden;
}
.header .logo {
    font-family: Arial Black;
    font-weight: 900;
    color: #fff;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 0.7em;
}
.header .logo a {
    color: #fff;
}
.container {
    width: 100%;
}
.container .postarea {
    max-width: 720px;
    margin: 0 auto;
    padding: 2em 1.3em;
}
.container .postarea .postarea-text {
    width: 100%;
}
.container .postarea .postarea-text textarea {
    font-size: 1em;
    width: 75%;
    display: inline-block;
    border: 1px solid #ededed;
    border-radius: 5px;
    height: 34px;
    resize: vertical;
    color: #3a342e;
    padding: 0.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container .postarea .postarea-button {
    font-weight: 700;
    font-size: 1em;
    height: 34px;
    background: #f7f7f7;
    color: #848484;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #ededed;
    width: 15%;
}
.content {
    max-width: 760px;
    margin: auto;
}
.content .post {
    margin-top: 2em;
    border-bottom: 1px dotted #ccc;
    padding: 0 1em 1em;
}
.content .post .my-post-date {
    font-size: 0.7em;
    color: #848484;
    text-align: right;
    border: 0;
    margin: 0;
}
.content .post .other-post-date {
    font-size: 0.7em;
    color: #848484;
    text-align: left;
    border: 0;
    margin: 0;
}
.footer {
    font-size: 0.8em;
    color: #848484;
    max-width: 760px;
    margin: 2em auto 0;
    padding: 0 1em 3em;
}
.content .post .my-post-text {
    margin: 0;
}
.content .post .other-post-text {
    text-align: right;
    margin: 0;
}
.container .postarea .postarea-button:hover,
.container .postarea a:hover{
    background: #e6e6e6;
}

/* Koyo 追加部分 */
.login-logo{
    text-align: center;
}
.user-add-link{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: -5px;
}
.logout{
    /* floatで寄せるとレイアウト崩れるのでmargin-topで暫定対応 */
    /* もっとマシなやり方ありそうだが暫定対応 */
    float: right;
    margin-top: 7px;
    font-size: 24px;
    color: #fff;
}
.logout:hover{
    cursor: pointer;
    opacity:0.6;
}
.postarea-text{
    color: #fff;
}
.gray-content{
    background-color: #ecf0f5;
}
/*bootstrapのスタイル書き換え*/
.alert{
    margin: 0;
}
.alert-error, .alert-danger{
    margin-top: 5px;
}
.post-container{
    background-color: #d84132e8;
}
.comment{
    border-top: 1px dotted;
}
.post-container{
    max-width: 100%;
}
.flash-message{
    text-align: center;
}
/*deviseのフラッシュがalart-noticeなので対策*/
.alert-notice{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.username-header{
    font-family: Arial Black;
    font-size: 16px;
    font-weight: lighter;
    color: #fff;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 0.7em;
}
