<!DOCTYPE html>
<html>
  <head>
    <title>MomiziUploader</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="header">
      <h1 class="logo">
        もみじあっぷろ〜だ〜<i id="logout" class="fa fa-sign-out logout"></i>
      </h1>
    </div>
    <%= yield %>
  </body>
</html>
